*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#top{
    background-color: rgb(130, 195, 252);
    padding: 13px;
}

#menu{
    padding-right: 10px;
}

#contato{
    padding-left: 10px;
}